<section class="product-category">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title text-center">
            <h2>{{ section.settings.product_header}}</h2>
          </div>
        </div>

        <div class="col-md-6">
          <div class="category-box">
            <a href="{{section.settings.category_top_url}}">
              <img src="{{section.settings.category_top_left_img | img_url :"1920x"}}" alt="">
              <div class="content">
                <h3>{{section.settings.category_top_left_header}}</h3>
                <p>{{section.settings.category_top_left_content}}</p>
              </div>
            </a>  
          </div>
          <div class="category-box">
            <a href="">
              <img src="{{section.settings.category_bottom_left_img | img_url :"1920x"}}" alt="">
              <div class="content">
                <h3>{{section.settings.category_bottom_left_header}}</h3>
                <p>{{section.settings.category_bottom_left_content}}</p>
              </div>
            </a>  
          </div>
        </div>

        <div class="col-md-6">
          <div class="category-box category-box-2">
            <a href="">
              <img src="{{section.settings.category_top_right_img | img_url :"1920x"}}" alt="">
              <div class="content">
                <h3>{{section.settings.category_top_right_header}}</h3>
                <p>{{section.settings.category_top_right_content}}</p>
              </div>
            </a>  
          </div>
        </div>
      </div>
    </div>
  </section>

  {% schema %}
  	{
  		"name": "Product Category Banners",
  		"settings": [

  			{
  				"type": "text",
  				"id" : "product_header",
  				"label" : "Title Header",
  				"default": "Product Category"
  			},
  			{
  				"type": "text",
  				"id" : "category_top_left_header",
  				"label" : "Category Top Left Header"
  			},
  			{
  				"type": "text",
  				"id" : "category_top_left_content",
  				"label" : "Category Top Left Content"
  			},

  			{
  				"type": "image_picker",
  				"id":"category_top_left_img",
  				"label":"Category Top Left Image"

  			},
  			{
  				"type":"url",
  				"id":"category_top_left_url",
  				"label":"Category Top Left link"
  			},

  			{
  				"type": "text",
  				"id" : "category_top_right_header",
  				"label" : "Category Top Right Header"
  			},
  			{
  				"type": "text",
  				"id" : "category_top_right_content",
  				"label" : "Category Top Right Content"
  			},

  			{
  				"type": "image_picker",
  				"id":"category_top_right_img",
  				"label":"Category Top Right Image"

  			},
  			{
  				"type":"url",
  				"id":"category_top_right_url",
  				"label":"Category Top Right link"
  			},

  			{
  				"type": "text",
  				"id" : "category_bottom_left_header",
  				"label" : "Category Bottom Left Header"
  			},
  			{
  				"type": "text",
  				"id" : "category_bottom_left_content",
  				"label" : "Category Bottom Left Content"
  			},

  			{
  				"type": "image_picker",
  				"id":"category_bottom_left_img",
  				"label":"Category Bottom Left Image"

  			},
  			{
  				"type":"url",
  				"id":"category_bottom_left_url",
  				"label":"Category Bottom Left link"
  			}


  		]
  	}


  {% endschema %}